# LaTeX build artifacts
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.run.xml
*.bcf
missfont.log

# macOS
.DS_Store
